html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  background: no-repeat center center fixed
    url(https://cdn.glitch.global/b80a9aec-29f4-46ea-bf26-db9e4a95e52b/tempeh-1317282212.jpg?v=1664136225526);
  background-size: cover;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #ba8759;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 1em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: serif;
}

main {
  font-family: sans-serif;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
  background: #fdfdfd;
}
